@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html{
    font-family: 'Anton', sans-serif;
}
#Navegacion{
    background; linear-gradient(to right, #ff3131 0%, #ff914d 100%) ;
    color: black ;
    display: block;
    flex-direction: left;
    justify-content: space-between;
    float: left;
    padding: 300px; 
}
#Navegacion > img{
    width: 100px;}
